body {
	font-family: verdana;
}

p, table, li {
	font-size: 10pt;
}

h1 {
	background-color: gray;
	color: white;
}

h2, h3 {
	color: blue;
}

header strong  {
	color: red;
}

a:hover {
	color: red;
}
a:active {
	color: black;
} 
a:visited {
	color: gray;
}
#wrapper {
	width: 760px;
	border: 1px solid black;
}